.animate-character {
    -webkit-text-fill-color: transparent;
    -webkit-animation: textclip 2.5s linear infinite;
    animation: textclip 2.5s linear infinite;
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(-225deg,#4285f4,#0f9d58 29%,#ee8379 67%,#fff800);
    background-size: auto auto;
    background-size: 200% auto;
    color: #fff;
    /* display: inline-block; */
    font-weight: 700;
    margin-top: 8rem;
    text-transform: capitalize;
}
